/* Fonts */

/* from https://modernfontstacks.com/ */
:root {
    --font-family-primary:
        /* Neo-Grotesque */
        Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;

    --font-family-secondary:
        /* Transitional */
        Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;

}
