/* intro paragraph */
/* from https://piccalil.li/blog/some-simple-ways-to-make-content-look-good/ */

.b_lede {
  color: var(--color-secondary);
  font-size: var(--step-2);
  font-style: italic;
  max-width: 45ch;
  text-wrap: wrap;
}

.b_lede+* {
  --l_flow__space: 2em;
}
